html {
  font-size: 78%;
  zoom: 85%;
}
html, body {
  background-color: $bg-dark !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@mixin flex-center($direction: row, $gap: 20px) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

%responsive-box {
  padding: 40px;
  max-width: 1200px;
}
